# Default owners for everything in the repo.
# - @michael-tonneau-midol_proximus
# - @Mohamed-Izmar_proximus
# - @STEPHAN-SCHAMP_proximus
*  @michael-tonneau-midol_proximus @STEPHAN-SCHAMP_proximus @Mohamed-Izmar_proximus
